@charset "utf-8";

body{
    width: 90%;
    max-width: 960px;
    margin: auto;
}

main {
    margin: 70px 15px 0;
}


.displey {
    display: flex;
    justify-content: space-around;
}

contents {

}


.size {
    margin: 0 70px;
}


.footer {
    background-color: gray;
    color: white;
}